@{
}
@model MrFixIt.Models.Job

<div class="job-form">

    <h2>Would you like to do this job?</h2>
    <hr />
    <form data-url-action='@Url.Action("Claim", "Jobs")' class="confirm-claim">
        <input type="hidden" value="@Model.JobId" />
        <input type="hidden" value="@Model.Title" />
        <input type="submit" value="Claim This Job" />
    </form>
    <p>@Html.ActionLink("Back to list", "Index")</p>

</div>