body {
    padding-top: 70px;
    color: navy;
}

/*LOGIN PAGE*/
.form-box {
    width: 50%;
    margin: 0 auto;
}

.form-box h2 {
    text-align: center;
}

.form-box .btn {
    display: block;
    margin: 0 auto;
}

.not-member {
    margin-top: 20px;
    text-align: center;
}