@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700,900');

body {
    padding-top: 70px;
    color: navy;
}

/*NAVBAR*/
.navbar {
    margin-bottom: 0;
}

/*HOME PAGE*/
.jumbotron {
    margin: 0;
    margin-top: -20px;
    padding: 40px;
    background-image: url(https://images.pexels.com/photos/172133/pexels-photo-172133.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    min-height: 400px;
    position: relative;
}

    .jumbotron h1 {
        position: absolute;
        bottom: 0;
        font-family: "Alegreya SC", sans-serif;
        font-size: 80px;
        color: white;
        right: 10%;
        text-shadow: 0px 0px 50px 100px rgba(0, 0, 0, 1);
    }

/*LOGIN PAGE*/
.form-box {
    width: 50%;
    margin: 0 auto;
}

    .form-box h2 {
        text-align: center;
    }

    .form-box .btn {
        display: block;
        margin: 0 auto;
    }

.not-member {
    margin-top: 20px;
    text-align: center;
}
